<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>5</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty>
      <projectUrl>https://github.com/mozilla-b2g/B2G/</projectUrl>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name></name>
        <refspec></refspec>
        <url>git://github.com/mozilla-b2g/B2G.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <disableSubmodules>false</disableSubmodules>
    <recursiveSubmodules>false</recursiveSubmodules>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <authorOrCommitter>false</authorOrCommitter>
    <clean>false</clean>
    <wipeOutWorkspace>false</wipeOutWorkspace>
    <pruneBranches>false</pruneBranches>
    <remotePoll>false</remotePoll>
    <ignoreNotifyCommit>false</ignoreNotifyCommit>
    <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
    <gitTool>Default</gitTool>
    <submoduleCfg class="list"/>
    <relativeTargetDir></relativeTargetDir>
    <reference></reference>
    <excludedRegions></excludedRegions>
    <excludedUsers></excludedUsers>
    <gitConfigName></gitConfigName>
    <gitConfigEmail></gitConfigEmail>
    <skipTag>false</skipTag>
    <includedRegions></includedRegions>
    <scmName></scmName>
  </scm>
  <canRoam>true</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.copyartifact.CopyArtifact>
      <projectName>make-config</projectName>
      <filter>config.zip</filter>
      <target></target>
      <selector class="hudson.plugins.copyartifact.TriggeredBuildSelector">
        <fallbackToLastSuccessful>true</fallbackToLastSuccessful>
      </selector>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.Shell>
      <command>rm -rf config
mkdir config
unzip -o config.zip -d config

export AUTOCONF=/usr/local/bin/autoconf2.13
ccache --clear
rm -rf objdir-gecko
rm -rf out
rm -rf gaia
./config.sh emulator-x86 config/default.xml

</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>./build.sh

rm -rf package.zip
rm -rf b2g-distro
mkdir -p b2g-distro/out/target/product/generic_x86
mkdir -p b2g-distro/prebuilts/qemu-kernel/x86
mkdir -p b2g-distro/out/host/linux-x86/bin
mkdir -p b2g-distro/out/host/linux-x86/usr/share/pc-bios
mkdir -p b2g-distro/development/tools/emulator/skins
cp .config b2g-distro
cp load-config.sh b2g-distro
cp run-emulator.sh b2g-distro
cp b2gautomation/b2gautomation/default.xml b2g-distro
cp out/host/linux-x86/bin/emulator-x86 b2g-distro/out/host/linux-x86/bin
cp out/host/linux-x86/bin/adb b2g-distro/out/host/linux-x86/bin
cp -R out/host/linux-x86/lib b2g-distro/out/host/linux-x86
cp prebuilts/qemu-kernel/x86/kernel-qemu b2g-distro/prebuilts/qemu-kernel/x86
cp -R out/target/product/generic_x86 b2g-distro/out/target/product
cp -R development/tools/emulator/skins b2g-distro/development/tools/emulator
cp -R out/host/linux-x86/usr/share/pc-bios b2g-distro/out/host/linux-x86/usr/share

zip -r package.zip b2g-distro/
TIMESTAMP=`cat b2gautomation/b2gautomation/timestamp.txt`
DEST=&quot;emulator-x86_linux_$TIMESTAMP.zip&quot;
rm -rf emulator-x86_linux*
mv package.zip $DEST
</command>
    </hudson.tasks.Shell>
    <jenkins.plugins.publish__over__ssh.BapSshBuilderPlugin>
      <delegate>
        <consolePrefix>SSH: </consolePrefix>
        <delegate>
          <publishers>
            <jenkins.plugins.publish__over__ssh.BapSshPublisher>
              <configName>stage.mozilla.org</configName>
              <verbose>false</verbose>
              <transfers>
                <jenkins.plugins.publish__over__ssh.BapSshTransfer>
                  <remoteDirectory></remoteDirectory>
                  <sourceFiles>emulator-x86_linux*</sourceFiles>
                  <excludes></excludes>
                  <removePrefix></removePrefix>
                  <remoteDirectorySDF>false</remoteDirectorySDF>
                  <flatten>false</flatten>
                  <cleanRemote>false</cleanRemote>
                  <execCommand>chmod -R a+r /mnt/netapp/stage/releases.mozilla.com/b2g/*</execCommand>
                  <execTimeout>120000</execTimeout>
                  <usePty>false</usePty>
                </jenkins.plugins.publish__over__ssh.BapSshTransfer>
              </transfers>
              <useWorkspaceInPromotion>false</useWorkspaceInPromotion>
              <usePromotionTimestamp>false</usePromotionTimestamp>
            </jenkins.plugins.publish__over__ssh.BapSshPublisher>
          </publishers>
          <continueOnError>false</continueOnError>
          <failOnError>false</failOnError>
          <alwaysPublishFromMaster>false</alwaysPublishFromMaster>
          <hostConfigurationAccess class="jenkins.plugins.publish_over_ssh.BapSshPublisherPlugin" reference="../.."/>
        </delegate>
      </delegate>
    </jenkins.plugins.publish__over__ssh.BapSshBuilderPlugin>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>