<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Always builds latest gaia and latest emulator and runs gaia&apos;s unit tests.</description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>1</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.model.Item.Workspace:jameslal</permission>
      <permission>hudson.model.Item.Cancel:jameslal</permission>
      <permission>hudson.model.Run.Update:jameslal</permission>
      <permission>hudson.scm.SCM.Tag:jameslal</permission>
      <permission>hudson.model.Item.Read:jameslal</permission>
      <permission>hudson.model.Item.Build:jameslal</permission>
      <permission>hudson.model.Item.Delete:jameslal</permission>
      <permission>hudson.model.Item.Configure:jameslal</permission>
      <permission>hudson.model.Run.Delete:jameslal</permission>
    </hudson.security.AuthorizationMatrixProperty>
    <com.coravy.hudson.plugins.github.GithubProjectProperty>
      <projectUrl>http://github.com/mozilla-b2g/B2G/</projectUrl>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name></name>
        <refspec></refspec>
        <url>https://github.com/mozilla-b2g/gaia.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <disableSubmodules>false</disableSubmodules>
    <recursiveSubmodules>false</recursiveSubmodules>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <authorOrCommitter>false</authorOrCommitter>
    <clean>false</clean>
    <wipeOutWorkspace>false</wipeOutWorkspace>
    <pruneBranches>false</pruneBranches>
    <remotePoll>false</remotePoll>
    <ignoreNotifyCommit>false</ignoreNotifyCommit>
    <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
    <gitTool>Default</gitTool>
    <submoduleCfg class="list"/>
    <relativeTargetDir></relativeTargetDir>
    <reference></reference>
    <excludedRegions></excludedRegions>
    <excludedUsers></excludedUsers>
    <gitConfigName></gitConfigName>
    <gitConfigEmail></gitConfigEmail>
    <skipTag>false</skipTag>
    <includedRegions></includedRegions>
    <scmName></scmName>
  </scm>
  <assignedNode>gaia-ubuntu</assignedNode>
  <canRoam>false</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec>0,15,30,45 * * * *</spec>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>rm -Rf b2g-distro</command>
    </hudson.tasks.Shell>
    <hudson.plugins.copyartifact.CopyArtifact>
      <projectName>b2g-build-desktop</projectName>
      <filter>b2g-distro/b2g-desktop.tar.bz2</filter>
      <target>$WORKSPACE</target>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector">
        <stable>true</stable>
      </selector>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.Shell>
      <command>rm -Rf generatedJUnitFiles
rm -f test-output.xml

# again hack to make script happy
ROOT=$PWD
cd b2g-distro/
mkdir -p dist/
cp b2g-desktop.tar.bz2 dist/
cd dist &amp;&amp; tar xvjf b2g-desktop.tar.bz2 &amp;&amp; cd ..
mv dist/b2g dist/bin
cd $ROOT;

export DISPLAY=`x-recorder start-xvfb`
export GAIA_DOMAIN=prdb2g.gaiamobile.org
export GAIA_PORT=:8080
export B2G_HOME=$PWD/b2g-distro/
export TEST_AGENT_SERVER=ws://50.116.11.35:8789
export TEST_OUTPUT=$ROOT/test-output.xml

make update-common
cd ./tools/ci/unit/

echo &quot;USING: $DISPLAY&quot;;

./b2g-desktop.sh

# Temp fix to kill all tmp marionette userdata images.
# This *will* likely cause weird problems if another emulator is running...
rm -f /tmp/marionette*

x-recorder stop-xvfb --display $DISPLAY


</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <xunit>
      <types>
        <JUnitType>
          <pattern>test-output.xml</pattern>
          <faildedIfNotNew>true</faildedIfNotNew>
          <deleteOutputFiles>true</deleteOutputFiles>
          <stopProcessingIfError>false</stopProcessingIfError>
        </JUnitType>
      </types>
      <thresholds>
        <org.jenkinsci.plugins.xunit.threshold.FailedThreshold>
          <unstableThreshold>0</unstableThreshold>
          <unstableNewThreshold>0</unstableNewThreshold>
          <failureThreshold>0</failureThreshold>
          <failureNewThreshold>0</failureNewThreshold>
        </org.jenkinsci.plugins.xunit.threshold.FailedThreshold>
        <org.jenkinsci.plugins.xunit.threshold.SkippedThreshold>
          <unstableThreshold></unstableThreshold>
          <unstableNewThreshold></unstableNewThreshold>
          <failureThreshold></failureThreshold>
          <failureNewThreshold></failureNewThreshold>
        </org.jenkinsci.plugins.xunit.threshold.SkippedThreshold>
      </thresholds>
    </xunit>
    <hudson.tasks.Mailer>
      <recipients>jlal@mozilla.com</recipients>
      <dontNotifyEveryUnstableBuild>true</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers>
    <hudson.plugins.build__timeout.BuildTimeoutWrapper>
      <timeoutMinutes>20</timeoutMinutes>
      <failBuild>true</failBuild>
    </hudson.plugins.build__timeout.BuildTimeoutWrapper>
  </buildWrappers>
</project>