<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>5</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty>
      <projectUrl>https://github.com/mozilla-b2g/B2G/</projectUrl>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name></name>
        <refspec></refspec>
        <url>git://github.com/mozilla-b2g/B2G.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <disableSubmodules>false</disableSubmodules>
    <recursiveSubmodules>false</recursiveSubmodules>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <authorOrCommitter>false</authorOrCommitter>
    <clean>false</clean>
    <wipeOutWorkspace>false</wipeOutWorkspace>
    <pruneBranches>false</pruneBranches>
    <remotePoll>false</remotePoll>
    <ignoreNotifyCommit>false</ignoreNotifyCommit>
    <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
    <gitTool>Default</gitTool>
    <submoduleCfg class="list"/>
    <relativeTargetDir></relativeTargetDir>
    <reference></reference>
    <excludedRegions></excludedRegions>
    <excludedUsers></excludedUsers>
    <gitConfigName></gitConfigName>
    <gitConfigEmail></gitConfigEmail>
    <skipTag>false</skipTag>
    <includedRegions></includedRegions>
    <scmName></scmName>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.copyartifact.CopyArtifact>
      <projectName>make-config</projectName>
      <filter>config.zip</filter>
      <target></target>
      <selector class="hudson.plugins.copyartifact.TriggeredBuildSelector">
        <fallbackToLastSuccessful>true</fallbackToLastSuccessful>
      </selector>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.Shell>
      <command>rm -rf config
mkdir config
unzip -o config.zip -d config

export AUTOCONF=/usr/local/bin/autoconf2.13
export ANDROIDFS_DIR=/data/otoro-ics
ccache --clear
rm -rf out
rm -rf objdir-gecko
rm -rf gaia
cp /data/otoro/*.zip .
./config.sh otoro config/default-otoro.xml
VARIANT=eng ./build.sh


if [ ! -d &quot;b2gautomation&quot; ]; then
  git clone git://github.com/jonallengriffin/b2gautomation.git
fi
cd b2gautomation
git pull
virtualenv .
source bin/activate
python setup.py develop
cd b2gautomation
python make_template_manifest.py ../.. --source ../../config/default-otoro.xml --dest ../../default.xml
cd ../..

rm -rf b2g-distro
mkdir b2g-distro
mkdir b2g-distro/local
mkdir b2g-distro/settings
cp b2gautomation/b2gautomation/devices/README.txt b2g-distro/
cp default.xml b2g-distro/default.xml
cp out/target/product/otoro/*.img b2g-distro/
cp /data/otoro-ics/boot.img b2g-distro/
cp out/target/product/otoro/*.txt b2g-distro/
cp out/host/linux-x86/bin/adb b2g-distro/
cp out/host/linux-x86/bin/fastboot b2g-distro/
cp b2gautomation/b2gautomation/devices/otoro/* b2g-distro/

rm -rf package.zip
zip -r package.zip b2g-distro/

rm -rf otoro_*
TIMESTAMP=`cat config/timestamp.txt`
DEST=&quot;otoro_${TIMESTAMP}_ics_eng.zip&quot;
rm -rf $DEST
mv package.zip $DEST

</command>
    </hudson.tasks.Shell>
    <jenkins.plugins.publish__over__ssh.BapSshBuilderPlugin>
      <delegate>
        <consolePrefix>SSH: </consolePrefix>
        <delegate>
          <publishers>
            <jenkins.plugins.publish__over__ssh.BapSshPublisher>
              <configName>stage.mozilla.org</configName>
              <verbose>false</verbose>
              <transfers>
                <jenkins.plugins.publish__over__ssh.BapSshTransfer>
                  <remoteDirectory></remoteDirectory>
                  <sourceFiles>otoro_*.zip</sourceFiles>
                  <excludes></excludes>
                  <removePrefix></removePrefix>
                  <remoteDirectorySDF>false</remoteDirectorySDF>
                  <flatten>false</flatten>
                  <cleanRemote>false</cleanRemote>
                  <execCommand>chmod -R a+r /mnt/netapp/stage/releases.mozilla.com/b2g/*
python organize.py --directory /mnt/netapp/stage/releases.mozilla.com/b2g</execCommand>
                  <execTimeout>120000</execTimeout>
                  <usePty>false</usePty>
                </jenkins.plugins.publish__over__ssh.BapSshTransfer>
              </transfers>
              <useWorkspaceInPromotion>false</useWorkspaceInPromotion>
              <usePromotionTimestamp>false</usePromotionTimestamp>
            </jenkins.plugins.publish__over__ssh.BapSshPublisher>
          </publishers>
          <continueOnError>false</continueOnError>
          <failOnError>false</failOnError>
          <alwaysPublishFromMaster>false</alwaysPublishFromMaster>
          <hostConfigurationAccess class="jenkins.plugins.publish_over_ssh.BapSshPublisherPlugin" reference="../.."/>
        </delegate>
      </delegate>
    </jenkins.plugins.publish__over__ssh.BapSshBuilderPlugin>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>